
*, *:before, *:after {
    box-sizing: border-box;
    
   
  }

  @media screen and (max-width: 600px) {
    .header {
      max-width: 100%;
      padding: 10px;
    }}
   
  .header {
    display: flex;
    background-image: url('img/hlavniStrana.jpg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 80vmin;
  }
  
  h1 {
   
   font-size: 20px;
    padding: 20px;
    font-family: cursive;
  
  }
  .title {
    padding: 150px;
    

 }
  
  .button-container {
    margin-top: 20px;
    size: 90px;
   }
  
   .pexesobut,
  .quizbut,
  .infobut {
    margin: 10px;
    padding: 5px 5px;
    background-color: #c24d4d;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: cursive;
    font-weight: 150;
    text-decoration: none;
   color: #fff; */
  }
  
  
  .pexesobut:hover ,
  .quizbut:hover,
  .infobut:hover {
    background-color: rgb(88, 9, 9)
  }
  
  /* pexeso*/
  
  .pexeso {
    background-image: url('img/pexeso.jpg');
    background-repeat: no-repeat;
  

  }


    .board {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  
  .memory-card {
      position: relative;
      width: 110px;
      height: 110px;
      perspective: 1000px;
      cursor: pointer;
      margin: 10px;
  }
  
  .memory-card.flip .front-face {
      transform: rotateY(180deg);
  }
  
  .memory-card.flip .back-face {
      transform: rotateY(0deg);
  }
  
  .front-face,
  .back-face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
  }
  
  .front-face {
      transform: rotateY(180deg);
  }
  
  .back-face {
      transform: rotateY(0deg);
  }
  
  
  .front-face {
      background-color: #f0f0f0;
  }
  
  .back-face {
      background-color: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #fff;
  }


  /* kvíz*/

.quiz {
  background-image: url('img/pexeso.jpg');
    background-repeat: no-repeat;
}

  .lion {
    width: 400px;
    border-radius: 30%;
    }

  .picture {
    display: flex;
    justify-content: center;
    padding: 20px;
}
  
.options {
  display: flex;
    justify-content: center;
}

.btns {
  border-radius: 100%;
  background-color: bisque;
}